@import "tailwindcss";
@import "https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: 'Poppins';
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
